*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    overflow-x: hidden;
    outline: none;
}

.header{
    background-color: #1b2021;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.5rem;
}

.nav{
    color: #ffffff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
}
.logo{
    color: #ffffff;
    font-size: 20px;
}
.logo span{
    color: red;
    font-size: 20px;
}

.art1{
    display: flex;
    background-color: #87ceeb;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1.2rem 1.5rem;
    justify-content: space-between;
    
}

.h2{
    color: #ffffff;
    font-size: larger;
    justify-content: center;
}

.content{
    font-size: 25px;
    max-width: 600px;
    text-align: center;
}

.img{
    border-radius: 50%;
    margin-left: 30px;
}
.collect{
    text-align: center;
    font-size: larger;
    color: #1a0101;
}
.models{
    text-align: center;
    font-size: 20px;
    color:black
}
.cardiv{
    display: flex;
    justify-content: space-between;
}
.cardiv img{
    width: 100%;
    height: auto;

}  
.cardiv :nth-child(2){
    margin-left: 13px;
    margin-right: 13px;
}
.collect span{
    color: red;
}
.advert{
    display: flex;
    background-color: black;
    margin-top: 25px;
    color: #ffffff;
    justify-content: space-around;
    }

.Special{
    max-width: 600px;
    flex: 1;
    max-height: 400px;
    font-size: 20px;
}

.Specialim{
    flex: 1;
    padding: 20px;
    padding-left: 0px;
}
    
    .advert :nth-child(2){
        margin-left: 30px;
    }
    .carbut{
        display: block;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 15px auto;
        background-color: aqua;
    }
    .carp{
        
        text-align: center;
    }
     
    .sec4{
        width: 100%;
        height: 65vh;
        margin: 1.5rem 1.2rem;
        }

        .adverttimg{
            width: 500px;
            height: 600px;
        }
        .adverttdiv{
            display: block;
            width: 600px;
            height: 400px;
        }
        .advertt{
            display: flex;
            justify-content: space-around;
            font-size: 20px;
        }
        .adverttp{
            font-size: 30px;
        }
        .adverttbut{
            padding: 8px;
            font-size: 15px;
            background-color: aqua;
            border-radius: 5px;
        }
        .sec5{
            width: 100%;
            height: 70vh;
            margin: 1.5rem 1.7rem;
            background-color: black;
            color: #ffffff;
        }
        .testim img{
            width: -10px;
            height: -10px;
            margin-top: 30px;
        }
        .testim p{
            width: 900px;
            height: 500px;
            font-size: 20px;
            margin-left: 250px;
            margin-right: 250px;
    
        }
        .testim{
            display: block;
            justify-content: center;
            text-align: center;
        }

        footer{
            background-color: black;
            color: #ffffff;
            text-align: center;
            padding: 8px;
            font-size: 20px;
            margin-top: 2px;
        }
        


        
    
   
            
           

   
    

    





